$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/";
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

//$fa-font-path: '../../bower_components/fontawesome/fonts';
//@import 'bower_components/fontawesome/scss/font-awesome.scss';
      
@mixin divider-look($border-color: rgba(255,255,255,.8)) {
  position: relative;
  top: 0;
  left: 0;
  margin: 1rem 1.5rem;
  height: auto;
  padding: 0;
  line-height: 1;
  text-align: center;
  overflow: hidden;

  &:before,
  &:after {
    position: absolute;
    content: " ";
    z-index: 3;
    width: 50%;
    top: 50%;
    height: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid $border-color;
  }

  &:before {
    left: 0;
    margin-left: -4.5em;
  }
  &:after {
    left: 50%;
    margin-left: 4.5em;
  }

}

.btn-group {
  .btn.checked {
    background-color: #ddd;
  }
}

#footer {
  padding-top: 20px;
  text-align: center;
}
