<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="styles/vendor.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <!-- navbar -->
        <header class="navbar navbar-inverse" role="banner">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">菜单</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://apptest.bestminr.com">示例程序</a>
            </div>
        </header>
        <!-- end navbar -->
   
        <div class="container">
            <main role="main" id="main">

            </main>

        </div>

        <footer id="footer">
            <div class="container">
                <div class="row credits">
                    <div class="col-md-12">
                        <div class="row copyright">
                            <div class="col-md-12">
                                <a href="http://www.bestminr.com">返回官网</a>
                                <span>|</span>
                                <span>© Copyright BestMinr Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- build:template
        <%= script %>
        /build -->

    </body>
</html>
